.idea/encodings.xml
.idea/.name
.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/uiDesigner.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/copyright/profiles_settings.xml
COMP.iml
gen/Airport_Parser.tokens
gen/Airport_ParserBaseListener.java
gen/Airport_ParserParser.java
gen/Airport_ParserListener.java
gen/Airport_ParserLexer.tokens
gen/Airport_ParserLexer.java